/***** Div Styling *****/

div.topnav {
    float: right;
    font-size: 20px;
    padding-top: 5px;
    padding-right:25%;
}

div.body {
  padding-top: 60px;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 60px;
}

div.column1 {
    float: left;
    width: 50%;
}

div.test {
    margin-left: 30px;
}

/***** Body Styling *****/

body {
  background-color: white;
}

h1 {
  color: black;
}

p {
  font-size: 18px;
}

/***** Table Styling *****/

.productdetails, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

.productdetails {
    width: 40%;
}